<div class="w3-modal w3-show">
  <div class="w3-modal-content w3-light-gray">
    <div class="w3-container">
      <h1 class="w3-center">Are you sure to delete?</h1>
      <p class="w3-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non risus urna. Sed eu dictum
        quam. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.</p>
      <div class="w3-center">
        <button class="w3-button w3-margin w3-blue">Cancel</button>
        <button class="w3-button w3-margin w3-red">Delete</button>
      </div>
    </div>
  </div>
</div>
