<div class="w3-padding-small">
  <div class="w3-clear w3-padding-small">
    <i class="fa fa-trash-o w3-right pointer w3-large w3-text-red"></i>
  </div>
  <div class="scroll-locker w3-xxlarge">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non risus urna. Sed eu dictum quam. Lorem
      ipsum
      dolor sit amet, consectetur adipiscing elit. Donec non risus urna. Sed eu dictum quam. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Donec non risus urna. Sed eu dictum quam.
    </p>
  </div>
</div>
