.pointer{
    cursor: pointer;
}

.note_logo{
    padding-top: 45vh;
}

.scroll-locker{
  height: 95vh;
  overflow: auto;
}

.full-height{
  height: 100vh;
}

textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 92vh;
  max-height: 92vh;
  font-size: 36px !important;
}

textarea:focus{
  outline: none !important;
  border: none !important;
}

*::-webkit-scrollbar {
  display: none;
}
