<div>

  <div class="w3-quarter">

    <div class="w3-padding-small w3-margin-bottom scroll-locker">

      <app-note *ngFor="let i of list"></app-note>

      <div class="w3-margin"></div>

    </div>

  </div>

  <div class="w3-threequarter">
    <div class="w3-border-left full-height">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="w3-bottom">
    <div class="w3-quarter w3-padding w3-white">
      <button class="w3-button w3-block w3-gray w3-hover-black" routerLink="editor">
        <i class="fa fa-plus"></i> Add New Notes
      </button>
    </div>
  </div>

</div>

<app-confirm-alert *ngIf="false"></app-confirm-alert>
